.task-title {
  font-family: 'Permanent Marker', cursive;
  color: #555;
  margin-bottom: 10px;
  font-size: 1.3rem;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

.task-description {
  font-family: 'Gochi Hand', cursive;
  color: #666;
  font-size: 1rem;
  margin-bottom: 15px;
  min-height: 60px;
}

.task-details {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.task-detail {
  font-family: 'Gochi Hand', cursive;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.task-detail:last-child {
  margin-bottom: 0;
}

/* Cores baseadas na prioridade */
.prioridade-alta {
  background-color: #f4cccc;
  border: 1px solid #e6a3a3;
}

.prioridade-media {
  background-color: #ffc;
  border: 1px solid #e6d7a3;
}

.prioridade-baixa {
  background-color: #d9ead3;
  border: 1px solid #b6d7a8;
}
.btn-postit-secondary {
  background-color: #a777e3;
  border: none;
  color: #2c1846; /* Texto mais escuro - ajuste este valor se necessário */
  padding: 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold; /* Deixa o texto em negrito */
}

.btn-postit-secondary:hover {
  background-color: #9565d0;
  color: #1a0e2d; /* Texto ainda mais escuro no hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
