


<div class="container mt-5">
    <table *ngIf="!loading && historicos.length > 0" class="table table-hover table-bordered mt-5">
       <thead class="table-dark">
           <tr>
             <th class="d-none">Id</th>
             <th>Campo Alterado</th>
             <th>Valor Anterior</th>
             <th>Valor Novo</th>
             <th>Data de Modificação</th>
           </tr>
       </thead>

       <tbody>
         <tr *ngFor="let h of historicos">
          <td>{{ h.campoAlterado }}</td>
          <td>{{ h.valorAnterior }}</td>
          <td>{{ h.valorNovo }}</td>
          <td>{{ h.dataModificacao | date: 'short' }}</td>
        </tr>
       </tbody>
   </table>
   <div *ngIf="!loading && historicos.length === 0" class="alert alert-warning">
    Nenhum histórico encontrado para esta tarefa.
  </div>
   <div class="container mt-5"><button class="btn btn-info w-100" [routerLink]="['/lista', dadosTarefa?.projetoId]"  routerLinkActive="router-link-active"  >Voltar</button>
 </div>





