<div class="container mt-5">
  <h1 class="page-title">{{descTitulo}}</h1>
  <form [formGroup]="tarefaForm" (ngSubmit)="submit()" #formDir="ngForm">
    <div class="post-it-container" [ngClass]="postItColor">
      <div class="post-it-content">
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label class="form-label">Título</label>
            <input type="text" placeholder="Insira o título!" class="form-control" formControlName="titulo">
          </div>
          <div class="form-group col-md-6 mb-3">
            <label class="form-label">Descrição</label>
            <input type="text" placeholder="Insira a descrição!" class="form-control" formControlName="descricao">
          </div>
          <div class="form-group col-md-4 mb-3">
            <label class="form-label">Data Conclusão</label>
            <input type="date" class="form-control" formControlName="dataConclusao">
          </div>
          <div class="form-group col-md-4 mb-3">
            <label class="form-label">Situação</label>
            <select class="form-select" formControlName="status">
              <option value="Pendente">Pendente</option>
              <option value="EmProgresso">Em Progresso</option>
              <option value="Concluida">Concluída</option>
              <option value="Cancelada">Cancelada</option>
            </select>
          </div>
          <div class="form-group col-md-4 mb-3">
            <label class="form-label">Prioridade</label>
            <select class="form-select" formControlName="prioridade">
              <option value="Baixa">Baixa</option>
              <option value="Media">Média</option>
              <option value="Alta">Alta</option>
            </select>
          </div>
          <div class="d-flex mt-3 flex-wrap">
            <button class="btn btn-postit me-2 flex-fill" type="submit">
              {{btnAcao}}
            </button>
            <button class="btn btn-postit-secondary flex-fill" (click)="voltar()">
              Voltar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
